.posts ul
{
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 0;
}

.posts ul ul
{
    margin-left: 25px;
}

.posts ul li
{
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.posts ul ul li
{
    border-bottom: 0;
}

.posts .title
{
    padding-left: 4px;
    font-weight: bold;
    background-color: #fff;
}

.posts .author
{
    font-style: italic;
    font-size: 90%;
}

.posts .author a,
.posts .author a:link,
.posts .author a:visited
{
    color: #444;
}

.posts .date
{
    color: #555;
    font-size: 85%;
}

.posts .text
{
    width: 450px;
    margin-top: 4px;
    padding-top: 8px;
    padding-left: 0;
    padding-bottom: 8px;
    padding-right: 6px;
    border-top: 1px solid black;
    height: 200px;
    overflow: auto;
}

.posts ul ul .text
{
    padding-left: 8px;
}

.posts .footer
{
    margin-bottom: 20px;
    background-color: #eee;
    width: 400px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.posts ul .footer
{
    width: 390px;
    text-align: right;
    padding-right: 10px;
    font-size: 90%;
}

.posts #current a
{
    background-color: rgb(250,240,200);
}

.posts a:link
{
    text-decoration: underline;
    color: #00a;
}

.posts a:visited
{
    text-decoration: underline;
    color: #006;
}

.posts #current a:link,
.posts #current a:visited
{
    text-decoration: none;
    color: #000;
}

.replyForm .submit
{
    text-align: right;
}

.replyForm caption
{
    border: 1px solid black;
}

.replyForm td
{
    text-align: left;
    vertical-align: top;
}

.replyForm textarea
{
    overflow: auto;
}

.posts .aboutTitle
{
    font-size: 120%;
    font-weight: bold;
}

.posts .aboutDescription
{
    font-style: italic;
    margin-bottom: 6px;
}

.posts .footnote
{
    font-size: 90%;
    border-top: 1px solid black;
    padding-top: 2px;
}

ul .header
{
    margin-bottom: 4px;
}

ul ul .header
{
    margin-bottom: 0;
}

a img
{
    border: 0;
}
